* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  line-height: 1.4;
  background: #fff;
  color: #444;
}

.container {
  max-width: 40vw;
  margin: 3rem auto 3rem;
  padding: 0 10px;
}

.heading {
  font-size: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.accordion {
  list-style: none;
}

.accordion_item {
  border-top: 1px solid #9f9f9f;
}

.button {
  font-size: 16px;
  background-color: #9b19c0;
  color: #fff;
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8px;
  cursor: pointer;
  border: none;
}

.control {
  font-size: 20px;
}

.answer {
  background-color: #f7f7f7;
  padding: 20px;
}

/* activate toggle */
.accordion_item.active .button {
  background-color: #8a0a63;
}
.answer_wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;
}
.answer_wrapper.open {
  height: auto;
}
